#applePay {
    width: 150px !important;
    height: 50px !important;
    border: 0px !important;
    border-radius: 5px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 20px !important;
    background-position: 50% 50% !important;
    background-color: black !important;
    background-size: 60% !important;
    background-repeat: no-repeat !important;
    z-index: 999;
}

.apple-pay-buy {
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-type: buy;
}
.apple-pay-donate {
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-type: donate;
}
.apple-pay-plain {
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-type: plain;
}
.apple-pay-set-up {
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-type: set-up;
}
.apple-pay-book {
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-type: book;
}
.apple-pay-check-out {
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-type: check-out;
}
.apple-pay-subscribe {
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-type: subscribe;
}
.apple-pay-add-money {
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-type: add-money;
}
.apple-pay-contribute {
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-type: contribute;
}
.apple-pay-order {
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-type: order;
}
.apple-pay-reload {
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-type: reload;
}
.apple-pay-rent {
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-type: rent;
}
.apple-pay-support {
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-type: support    ;
}
.apple-pay-tip {
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-type: tip;
}
.apple-pay-top-up {
    -webkit-appearance: -apple-pay-button;
    -apple-pay-button-type: top-up;
}

.apple-pay .actions-toolbar{
    text-align: center !important;
}
.apple-pay .primary{
    float: none !important;
}

fieldset.ccform {
    width: 300px;
}
fieldset .cc-box {
    position: relative;
}
fieldset .cc-box .input-text {
    width: 100% !important;
}
.payment-method .card-logo{
    position: absolute;
    top: 6px;
    right: 6px;
}
.vault .cvv-hide,.vaultinsta .cvv-hide {
    display: none;
}
.vault .cvv,.vaultinsta .cvv {
    width:55px !important;
}
.checkout-payment-method .credit-card-types img {
    -webkit-filter: grayscale(0%) !important;
}
html[lang='ar'] { direction: rtl; }
html[lang='ar'] .select.month,html[lang='ar'] .select.year{ padding-right: 24px !important; }
html[lang='ar'] .card-logo{ padding-right: 225px; }

.instaform .plan-error,.ccform .plan-error, .instaform .cvv-error, .ccform .cvv-error {
    color: #f00;
}
.ccform .error-ccform,.instaform .error-instaform,.ccform .cc-form-error,.instaform .cc-form-error { color : #f00;}