<?xml version="1.0"?>
<!--
/**
 * Module XML
 * 
 * @category Aps
 * @package  Aps_Fort
 * @author   Aps <email@example.com>
 * @license  GNU / GPL v3
 **/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Amazonpaymentservices_Fort" setup_version="2.6.0">
        <sequence>
            <module name="Magento_Sales" />
            <module name="Magento_Payment" />
            <module name="Magento_Directory" />
            <module name="Magento_Config" />
            <module name="Magento_Vault"/>
            <module name="Magento_Cookie"/>
        </sequence>
    </module>
</config>
