<!--
/**
 * Amazonpaymentservices_Fort Magento JS component
 *
 * @category    Aps
 * @package     Amazonpaymentservices_Fort
 */
-->
<div class="payment-method _active apple-pay" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio"
               name="payment[method]"
               class="radio" id="aps_apple"
               value="applepay"
               data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
        <label for="aps_apple" class="label">Apple Pay</label>
    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
        <div class="apple-err"></div>
        <div class="checkout-agreements-block"> 
        <!-- ko foreach: $parent.getRegion('before-place-order') -->
        <!-- ko template: getTemplate() -->
        <!-- /ko --> 
        <!--/ko-->
        </div>
        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout" style="display: none;"
                        type="submit" id="applePay"
                        data-bind="
                        click: afterPlaceOrder,
                        attr: {title: $t('Apple Pay')},
                        visible: isApplePayChecked,
                        afterRender: beforeApplePay
                        "
                        disabled>
                </button>
            </div>
        </div>
    </div>
</div>